<h1 class="user-page-title"> List of Users </h1>
<ul class="user-list">
    <% @users.each do |user| %>
        <li class="list-item">
            <div class="img-user-container" >
                imagen
            </div>
            <div class="info-user-container" >
                <div>
                    <%= link_to user.name, user_path(user) %>
                </div>
                <p class="post-number">
                    Number of posts: <%= user.post_counter%>
                </p>
            </div> 
        </li>

    <% end %>

</ul>